<div class="container container-collections">

  <!-- Liste de mes objets -->
    <h5>Mes objets</h5>
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active" id="available-li"><a href="#available" aria-controls="available" role="tab" data-toggle="tab">Dispo</a></li>
          <li role="presentation" id="question-li"><a href="#question" aria-controls="not-available" role="tab" data-toggle="tab">Question</a></li>
          <li role="presentation" id="not-available-li"><a href="#not-available" aria-controls="not-available" role="tab" data-toggle="tab">Prêtés</a></li>
          <li role="presentation" id="ajouter-li"><a href="#ajouter" aria-controls="not-available" role="tab" data-toggle="tab"><i class="fas fa-plus-circle"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="available">
            <div class="container">

            <div class="row">

            <% @collections.each do |collection| %>
              <% collection.items.each do |item| %>
                <% if item.reminders.size.zero? %>
                    <div class="col-xs-6 col-md-4 col-lg-3">
                      <%= render 'shared/card_item', item: item %>
                    </div>
                <% end %>
              <% end %>
            <% end %>
            </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="question">
            <% @collections.each do |collection| %>
              <% collection.items.each do |item| %>
                <% if item.validate_reminder.nil? && !item.pending_reminders.size.zero?%>
                  <div class="col-xs-6 col-md-4 col-lg-3">
                    <%= render 'shared/card_item', item: item %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div role="tabpanel" class="tab-pane" id="not-available">
            <% @collections.each do |collection| %>
              <% collection.items.each do |item| %>
                <% unless item.validate_reminder.nil? %>
                  <div class="col-xs-6 col-md-4 col-lg-3">
                    <%= render 'shared/card_item', item: item %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div role="tabpanel" class="tab-pane" id="ajouter">

              <h5>Ajouter un objet</h5>
              <%= render 'items/form_item', item: @item, button: "Ajouter cet objet" %>

          </div>
        </div>
      </div>
</div>

