<div class="col-xs-12 col-md-3">
  <h2>Manage my collections</h2>
</div>

<div class="col-xs-12 col-md-6">

  <div class="filter-zone">
    <h4>Filter zone</h4>
  </div>

  <% @collections.each do |collection| %>

        <h4 class="collection-title"><%= collection.name %>  <%= collection.items.size %></h4>

          <% collection.items.each do |item| %>

              <%= render 'shared/card_list', item: item %>

          <% end %>

  <% end %>

</div>

<div class="col-xs-12 col-md-3">
  <h2>Items rented or borrow to other persons</h2>

  <% @reminders_others.each do |reminder|%>


      <%= render 'shared/card_reminder', reminder: reminder %>


  <% end %>

</div>
