.avatar {
  display: flex;
  justify-content: center;

  .avatar-img {
    border-radius: 50%;
  }

  .avatar-icon {
    border: 1px solid gray;
    border-radius: 50%;
    color: gray;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
}

.avatar-big {
  .avatar-icon {
    width: 150px;
    height: 150px;
    font-size: 50px;
  }
}

.avatar-name {
  display: flex;
  align-items: center;
}

.email {
  font-size: 0.9em;
}

.infos-user {
  border-left: 1px solid #00D1B1;
  padding: 0px 0px 0px 5px;
  margin-left: 5px;
}
