.card-network {
  box-shadow: $base-box-shadow;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  margin: 10px;
  padding: 5px;
  font-color: gray;
  position: relative;

  .avatar-icon {
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .infos {
    margin-left: 10px;
    flex-grow: 1;
  }
  .email {
    font-size: 0.9em;
  }
  &:hover {
    box-shadow: $base-box-shadow-hover;
  }
  .avatar-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .fa-user {
    font-size: 35px;
  }

  .delete {
    position: absolute;
    top: 3px;
    right: 3px;
  }

  .buttons {
    padding: 10px;
  }

  .little-buttons {
    font-size: 15px;
  }
}
