a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: black;
    opacity: 0.8;
  }
}


.friends {
  min-width: 355px;
  max-height: calc( 100vh - 70px);
  overflow: scroll;
}

.results {
  overflow: scroll;
  height: calc( 100vh - 181px);
}

.envoi-mail {
  border: 1px solid blue;
}

