// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #00D1B1;
$dark-gray: #000000;
$gray: #969696;
$light-gray: #F4F4F4;
$middle-gray: #EBEDEE;
$green-blue: #08B0B9;
