

.collection-title h2 {
margin-left: 10px;
font-weight: 900;
font-size: 20px;

}

.zone {
  border: none;
  box-shadow: none;
  background-color: white;
}

.collection-name {
  font-weight: 900;
  font-size: 14px;
}

.name-c {

  padding: 10px;
  border-bottom: 1px solid #E1E1E1;
}

.add-form {
  width: 100%;
  height: auto;

  background-color: linear-gradient(#00bfe1, #00E5DB);
}

::-webkit-input-placeholder {

  font-weight: 400;
  font-style: italic;
}



.accordionWrapper{

  background:#fff;
  display:block;
  width:100%;
  font-family:'Roboto';
  }

.accordionItemHeading{

  font-size: 16px;
  cursor:pointer;
  font-family: 'Roboto';
  font-weight: 900;
  width:100%;

}
.closing .accordionItemContent{

  background-color: #fff;
  height:0px;
  transition:height 1s ease-out;
  transform: scaleY(0);
  display:block;


}
.open .accordionItemContent{


  width: 100%;
  margin: 0;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease;

}


.open .accordionItemHeading {
  font-weight: 400;
  margin-top: 20px;
  font-size: 14px;
  background-color: white;
  color: black;
}

.accordionItemHeading:after h2 {
 font-size: 14px;
}

.accordionItemHeading:after {
  content: "-";
  font-size: 35px;
  position: absolute;

  right: 15px;
  transform: rotate(-180deg);
  transition: all ease 0.2s;
}

.accordionItem.closing .accordionItemHeading:after {
  content: "+";
  font-size: 18px;
  transition: ease 0.2s;
  transform: rotate(-360deg);

}

