

.collection-title h2 {
  margin-left: 10px;
  font-weight: 900;
font-size: 20px;

}

.zone {
  border: none;
  box-shadow: none;
  background-color: white;
}

.collection-name {
 font-weight: 900;
font-size: 14px;



}

.name-c {

padding: 10px;
border-bottom: 1px solid #E1E1E1;
}


  .accordionWrapper{

    background:#fff;
    display:block;
    width:100%;
    font-family:'Roboto';
  }

.accordionItemHeading{
  padding: 20px;
    cursor:pointer;
    background:#2980b9;
    color:#fff;
    width:100%;
    box-sizing: border-box;
}
.close .accordionItemContent{
    padding: 20px;
    background-color: #fff;
    height:0px;
    transition:height 1s ease-out;
    transform: scaleY(0);
    display:block;


}
.open .accordionItemContent{
padding: 20px;
background-color: #fff;
width: 100%;
margin: 0;
display:block;
transform: scaleY(1);
transform-origin: top;
transition: transform 0.4s ease-out;
transition: transform 0.4s ease;

}

.open .accordionItemHeading{
    margin:0px;
    background-color: #bdc3c7;
    color: #7f8c8d;
}
