.dashboard-admin .colors {
  p {
    width: 100px;
  }
  .red {
  background-color: $red;
  }
  .blue {
    background-color: $blue;
  }
  .yellow {
    background-color: $yellow;
  }
  .orange {
    background-color: $orange;
  }
  .green {
    background-color: $green;
  }
  .dark-gray {
    background-color: $dark-gray;
  }
  .gray {
    background-color: $gray;
  }
  .light-gray {
    background-color: $light-gray;
  }
  .middle-gray {
    background-color: $middle-gray;
  }
  .green-blue {
    background-color: $green-blue;
  }
}

