.container-home {
  background-color: white;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  .btn {
    margin-top: 50px;
    width: 100%;
    font-size: 24px;
    padding: 20px;
    margin-bottom: 120px;
  }
}

.home-desktop-bg {
  background-image: asset-url("dividi-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0px;
  margin-right: 0px;
}

.banner {
  padding-top:  80px;
  min-height: Calc(100vh - 70px);
  font-family: 'Roboto', sans-serif;
}

#logo-home img {
  width: 100%;
}

.tagline {
  font-size: 24px;
}

.home-description {
  padding-top: 100px;
  min-height: Calc(100vh - 70px);
  height: 100%;
  z-index:100;
  margin-left: 0px;
  margin-right: 0px;
}

.card-description {
  font-size: 16px;
  color: black;
  width: 100%;
  margin-top: 50px;
  height:200px;
}

.subtitle-description {
  font-size: 40px;
  font-weight: 900;
}

@media screen and (max-width: 1400px) {
  .home-description {
    padding-top: 100px;
  }

 .banner {
    min-height: 0px;
  }

}

@media screen and (max-width: 1200px) {
  .home-desktop-bg {
    background-size: contain;
  }
}

@media screen and (max-width: 992px) {
  .tagline {
    text-align: center;
  }
  .container-home {
    .btn {
      margin-bottom: 0px;
    }
  }
}

@media screen and (max-width: 768px) {
  .tagline {
    font-size: 18px;
  }

    .title-description {
    font-size: 40px;
    line-height: 1;
  }

  .card-description {
    text-align: center;
    margin: 0px;
  }

  .subtitle-description {
    font-size: 32px;
  }
}
