// Specific CSS for your home-page
.container-fluid {
background-color: transparent;
height: 100vh;

}

.title {
  font-family: 'Roboto condensed', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 105px;
  text-align: center;

}


.section1 {
  width: 100%;
  height: 100vh;
  background-color: blue;
  align-content: center;


}


.section2 {
  height: 100vh;
  background-color: yellow;
  transition: all 1s ease-out;
}

.section2.scroll {
  width: 100%;
  height: 100vh;
  background-color: blue;
  transition: all 1s ease-out;
}

.formulaire {
   margin-left: 150px;
  width: 100%;
  align-items: center;
}

