// Specific CSS for your home-page

.container-fluid {
padding: 0;
background-color: white;
height: 100vh;


}

.title {

font-family: 'Roboto', sans-serif;
font-weight: 900;
color: black;
font-size: 150px;
text-align: left;
margin-left: 150px;

}

.title img {


margin-left: -40px;
background-blend-mode: multiply;

}

.section1 {


padding-top:  80px;
width: 100%;
height: 100vh;
background-image: asset-url("dividi-home.png");
background-size: 1800px;
align-content: center;
background-repeat: no-repeat;
background-blend-mode: multiply;

}


.section2 {
height: 100vh;
background-color: blue;
transition: all 1s ease-out;

}

.section2.scroll {
width: 100%;
height: 100vh;
background-color: white;
transition: all 2s ease-out;
}

.formulaire {
color: black;

font-size: 25px;
margin-top: 20px;
text-align: left;
width: 380px;

}

.btn {
margin-top: 10px;
font-weight: 900;
width: 180px;
color: white;
background-color: #00D1B1;
}


.btn:hover {
font-weight: 900;

color: white;
background-color: black;
}

.texte-labeur {

width: 100%;
font-family: 'Roboto';
font-weight: 100;
font-size: 24px;

}

.title2 {


font-family: 'Roboto', sans-serif;
font-weight: 900;
color: black;
font-size: 80px;
text-align: center;
margin-left: 50px;
padding-top: 50px;
line-height: 0.8;
margin-bottom: 100px;

}

.texte-labeur2 {

font-weight: 500;
font-size: 16px;
color: black;
width: 100%;
margin-left: 50px;
margin-top: 50px;

}

.section3 {
text-align: center;
color: white;
padding-top: 17px;
height: 60px;
opacity: 0;
background-color: #1DFF60;
position: fixed;
bottom: 0;
width: 100%;
transition: all 2s ease-out;

}


.section3.scroll {

height: 60px;
opacity: 1;
background-color:  #CFCFCF;
position: fixed;
bottom: 0;
width: 100%;
transition: all 2s ease-out;
background-blend-mode: multiply;
}

.circle {
margin-top: 40px;
margin-left: 50px;
text-align: center;
height: 200px;
width: 200px;
background-color: transparent;
border-radius: 50%;
background-image: url(/assets/Circle.gif);
background-size: 200px;
background-blend-mode: multiply;
}

.titel3 {
color: blue;
padding: 60px;
text-align: center;
width: 200px;
height: 200px;
font-size: 40px;
font-weight: 900;
font-family: 'Roboto';
}

.title-p {

font-size: 40px;
font-weight: 900;
font-family: 'Roboto';

}


.formulaire a {
  margin-top: 1px;
  padding: 10px;
  color: #00D1B1;
  font-size: 16px;
  text-decoration: none;
  width: 450px;
}

.contact {
  margin-top: 10px;
  font-size: 0px;
  font-weight: 500;
  font-family: 'Roboto';
  color: white;
  text-align: center;
}

.signuplink {
  font-size: 16px;
  width: 450px;
  margin-top: 20px;

}

.form-control {
  font-weight: 100;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #D2D9DE;
  background-color: transparent;
}

[type=email]:focus {

  border-color: #1a82e2;
  box-shadow: 0 1px 0 #1a82e2;
}

[type=password]:focus {

  border-color: #1a82e2;
  box-shadow: 0 1px 0 #1a82e2;
}



