
.btnverbe {
    margin-top: 10px;
    font-weight: 900;
    width: 100px;
    color: black;
    background-color: white;
    border-color: rgb(0,209,117);
    border: bold;
    border-radius: 50px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
