<div class="container container-reminders">

    <div class="col-lg-9">

      <h5>Mes emprunts</h5>
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#emprunts" aria-controls="available" role="tab" data-toggle="tab">Empruntés</a></li>
          <li role="presentation"><a href="#demandes" aria-controls="not-available" role="tab" data-toggle="tab">Demandes en cours</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="emprunts">
            <div class="row">
              <% @validate_reminders.each do |reminder| %>
                <div class="col-xs-12 col-md-4"">
                  <% if reminder.item.nil? %>
                    <% item_ghost = Item.new(name: reminder.ghost_item, verbe: "To Lend") %>
                    <% reminder.item = item_ghost %>
                    <%= render 'shared/card_item', item: reminder.item, ghost_reminder: reminder %>
                  <% else %>
                    <%= render 'shared/card_item', item: reminder.item %>
                  <% end %>
                </div>
              <% end %>

            </div>

          </div>

          <div role="tabpanel" class="tab-pane" id="demandes">
            <div class="row">
              <% @waiting_reminders.each do |reminder| %>
                <div class="col-xs-12 col-md-4"">

                    <%= render 'shared/card_item', item: reminder.item %>

                </div>
              <% end %>

            </div>
          </div>

        </div>
      </div>
    </div>

      <div class="col-xs-3 rappel">
        <h5>Ajouter un rappel</h5>
        <p class="text-rappel">Besoin de vous souvenir d'un objet que vous avez emprunté à un ami en dehors du réseau ?</p> <br>

        <%= render 'form_item_outside', reminder: @reminder %>

      </div>
</div>
