<div class="container">

  <div class="col-xs-12 col-sm-6 col-sm-offset-3">


    <div class="form">
      <h2>Partager <%= @item.name %> </h2>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#inside" aria-controls="inside" role="tab" data-toggle="tab">A un ami</a></li>
        <li role="presentation"><a href="#outside" aria-controls="outside" role="tab" data-toggle="tab">En dehors de mon réseau</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="inside">
          <%= render 'form_reminder', item: @item, reminder: @reminder %>
        </div>
        <div role="tabpanel" class="tab-pane" id="outside">
          <%= render 'form_reminder_outside', item: @item, reminder: @reminder %>
        </div>
      </div>
    </div>
  </div>
</div>


