<div class="container">
  <div class="container-reminder-new">


  <p>Share my object : <%= @item.name %> </p>

  <hr>

  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#inside" aria-controls="inside" role="tab" data-toggle="tab">To a friend</a></li>
    <li role="presentation"><a href="#outside" aria-controls="outside" role="tab" data-toggle="tab">Outside my network</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="inside">
      <%= render 'form_reminder', item: @item, reminder: @reminder %>
    </div>
    <div role="tabpanel" class="tab-pane" id="outside">
      <%= render 'form_reminder_outside', item: @item, reminder: @reminder %>
    </div>
  </div>

  </div>
  </div>

</div>


