<div class="container">

  <h4>Mes amis - <%= @friends.count %></h4>

  <% @friends.each do |friend| %>
    <div class="col-xs-6 col-lg-4">
      <%= render 'shared/card_friend', user: friend %>
    </div>
  <% end %>

</div>
