<div class="container container-search-friends">
  <%= form_tag search_network_users_path, method: :get, id: 'filter-form' do %>

    <i class="fa fa-search" aria-hidden="true"></i>
    <%= text_field_tag :query,
      params[:query],
      placeholder: "Chercher un ami",
      class: 'form-control' %>

  <% end %>

  <div class="row">

    <div class="col-xs-6 col-lg-4">
      <%= render 'shared/card_send_mail' %>
    </div>

    <% @users.each do |user| %>
      <div class="col-xs-6 col-lg-4">
        <%= render 'shared/card_friend', user: user %>
      </div>
    <% end %>

  </div>
</div>
