<% if size.nil? || size == "standard" %>

  <div class="avatar">
    <% if user.nil? || !user.avatar.present? %>
      <i class="fas fa-user avatar-icon"></i>
    <% else %>
      <%= cl_image_tag user.avatar, height: 50, width: 50, crop: :fill, class: "avatar-img"  %>
    <% end %>
  </div>

<% else size == "big" %>

  <div class="avatar avatar-big">
    <% if user.nil? || !user.avatar.present? %>
      <i class="fas fa-user avatar-icon"></i>
    <% else %>
      <%= cl_image_tag user.avatar, height: 150, width: 150, crop: :fill, class: "avatar-img"  %>
    <% end %>
  </div>

<% end %>
