<div class="card-friend">
  <% if user.avatar.file.nil? %>
    <i class="fas fa-user avatar-icon"></i>
  <% else %>
    <%= cl_image_tag user.avatar, height: 100, width: 100, crop: :fill, class: "avatar-img" %>
  <% end %>
  <div class="email">
    <%= user.email %>
  </div>
  <div>
    <%= link_to "Send a request" %>
  </div>

</div>
