<% if notice %>
  <div class="alert alert-info fade in" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning fade in" role="alert">
    <%= alert %>
  </div>
<% end %>
