<div class="footer">
  <div class="footer-copyright">
    <span class="footer-hide-on-mobile">Copyright </span>
    <span class="copyright">©</span>
    <span class="footer-hide-on-mobile"> 2018</span>
  </div>
  <div class="footer-contact">
    <i class="fas fa-envelope footer-lighter"></i>
    <span class="footer-lighter footer-hide-on-mobile">Nous écrire</span>
    <span>contact@dividi-project.pro</span>
  </div>
</div>
