<div class="footer">
  <div class="footer-copyright">
    Copyright © 2018, Dividi, Inc
  </div>
  <div class="footer-contact">
    <a href="mailto:contact@dividi.fr" target="_top"><i class="far fa-envelope"></i> <span class="footer-mail">contact@dividi.fr</span></a>
  </div>
</div>
