<div class="search-bar">
  <i class="fa fa-search" aria-hidden="true"></i>
  <%= form_tag path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      placeholder: placeholder,
      class: "input"
    %>
  <% end %>
</div>
