<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="dashboard-card">
        <div class="icon">
          <i class="fas fa-search"></i>
        </div>
        Rechercher un objet
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="dashboard-card">
        <div class="dashboard-title">
          <div class="icon">
            <i class="fas fa-warehouse"></i>
          </div>
          Mes objets
        </div>
        <div class="dashboard-shortcuts">
          <div class="shortcut">
            Demandes en cours
          </div>
          <div class="shortcut">
            Objets prêtés
          </div>
          <div class="shortcut">
            Disponibles
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="dashboard-card">
        <div class="icon">
          <i class="fas fa-thumbtack"></i>
        </div>
        Mes pense-bêtes
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="dashboard-card">
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        Mon réseau
      </div>
    </div>
  </div>
</div>
