<div class="container-fluid">

    <div class= "section1">
      <div class= "title">
      Dividi
      </div>





    <div class= "section2">
        <div class= "title">
          gfdhg
        </div>
    </div>
    <%= render 'devise/sessions/newsession', user: @user  %>
</div>
