<div class="container-fluid">

  <div class= "section1">

      <div class= "title">

          <%= image_tag "logo/Logo-noir.png", height: 250 %>

          <div class="texte-labeur">
            Réveillez vos objets qui dorment ! <br>
            Et partagez les avec vos proches...
          </div>
          <% if current_user.nil? %>
            <div class="formulaire">
            <%= render 'devise/sessions/newsession', user: @user  %>
            </div>
          <% end %>
      </div>


  </div>

</div>

  <div class= "section2">



      <div class= "title2">
          Partager vos objets
      </div>
      <div class="col-xs-12 col-md-3 col-sm-3">
        <div class="circle">
            <div class="titel3"> Bienvenue </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 col-sm-3">
        <div class="texte-labeur2">

          <div class="title-p"> Prêter </div>
           Un livre qui dort dans votre bibliothèque, une perceuse inutilisée dans la cave, montrez-le à vos amis !
        </div>

        <div class="texte-labeur2">

          <div class="title-p"> Donner </div>
           Avant de jeter, peut-être que quelqu'un autour de vous est intéressé, qui sais ?
        </div>
      </div>

      <div class="col-xs-12 col-md-3 col-sm-3">


        <div class="texte-labeur2">
          <div class="title-p"> Vendre </div>
            Avec une photo et quelques clics, proposez un objet à vos amis.
        </div>

        <div class="texte-labeur2">

            <div class="title-p"> Louer </div>
            Un produit qui s'use à l'usage : louez-le.

        </div>
      </div>

  </div>

