<div class="container-fluid">

    <div class= "section1">
        <div class= "title">

            Dividi
            <div class="texte-labeur">
              Sortez-vos objets du grenier !
            </div>
            <div class="formulaire">
            <%= render 'devise/sessions/newsession', user: @user  %>
            </div>
        </div>
    </div>



    <div class= "section2">
        <div class= "title">
          gfdhg
        </div>
    </div>


</div>
