.wrapper-dashboard {
  width: 80%;
  margin: auto;
}

.container {
  .container-reminder-new {
  width: 40%;
  margin: auto;
  background-color: white;
  padding: 25px;
  }

  .tab-pane {
    margin-top: 20px;
  }
}
