.container-show {
  height: 100vh;

  padding-top: 50px;
  position: relative;
  .box1 {
    height: 100%;
//    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    padding: 5px;
    text-align: center;
    }

.card-show {
  padding: 20px;
  // border-right: 2px solid #00D1B1;
  max-width: 600px;
  height: 100%;
  // padding-left: 70px;
  .cloudinary-show {
    width: 100%;
  }
}

.vertical-edge {
  height: 414px;
  width: 2px;
  background-color: #00D1B1;
}

.btn-verbe {
  margin-top: 10px;
  font-weight: 900;
  width: 180px;
  color: white;
  background-color: #00D1B1;
  border-color: #308edc;
  display: inline-block;
}

h1 {
  width: 100%;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 40px;
  text-align: center;
}

h2{
  width: 100%;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 32px;
  // text-align: center;
}

p {
  width: 100%;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 24px;
  // text-align: center;
}

.breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 18px Sans-Serif;
  text-align: inline;
  color: black;

}
}






