.container-show {
  height: calc( 100vh - 70px );
  display: flex;
  align-items: center;
  justify-content: center;
  }

.describe {
  border-left: 2px solid #00D1B1;
  padding-left: 70px;
  // min-height: 500px;
  width: 30%;
}

.image-item {
  margin-right:70px;
  max-width: 30%;
  // max-width: 600px;
  // height: 100%;
}

.avatar-item {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
}

.buttons-bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 60%;
}

.main-btn {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



  .box1 {
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);

    text-align: center;
    display: block;
  }

.btn-verbe {
  margin-top: 10px;
  font-weight: 900;
  width: 180px;
  color: white;
  background-color: #00D1B1;
  border-color: #308edc;
  display: inline-block;
}

.bottom-box1 {
  list-style: none;
  overflow: hidden;
  font: 12px Sans-Serif;
  text-align: inline;
  color: black;
}

h1 {
  font-family: 'Roboto';
  font-size: 40px;
  text-align: center;
}

h2{
  font-family: 'Roboto';
  font-size: 32px;
}

p {
  font-family: 'Roboto';
  font-size: 16px;
}


