.container-show {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc( 100vh - 70px );
}

.picture {
  border-radius: 4px;
  box-shadow: $base-box-shadow;
  background-color: white;
  overflow: hidden;
  text-align: center;
}

.image-item {
  background-position: cover !important;
  width: 100%;
}

.fallback {
  opacity: 0.1;
  background-color: transparent;
}

.owner {
  .avatar-name {
    display: flex;
  }
  .verbe {
    font-weight: bold;
    margin-right: 25px;
  }
}

.describe {
  min-width: 20%;
  max-width: 350px;
  margin-left: 25px;

  .owner {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  }

  .owner, .infos, .actions {
  box-shadow: $base-box-shadow;
  background-color: white;
  overflow: hidden;
  border-radius: 4px;
  }

  .infos {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
    > * {
      padding: 5px;
    }
  }

  .show-category {
    color: $gray;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  .item-name {
    font-weight: bold;
    font-size: 1.2em;
    color: #666666;
  }

  .titles {
  }

  .description {
    font-size: 0.8em;
    flex-grow: 1;
  }

  .title-description {
    font-style: italic;
    text-decoration: underline;
  }

  .creation {
    font-size: 0.8em;
    text-align: right;
    padding-right: 7px;
  }

}


.actions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >* {
    margin: 10px;
  }
}


