<!-- owner -->
<% owner = (@item.user == current_user) %>

<% if owner == true %>
  <!-- delete -->
  <%= link_to item_path(@item),
    method: :delete,
    data: {confirm: "Are you sure you want to delete this item ?" }, class: "little-button"  do %>
    <i class="far fa-trash-alt"></i>
  <% end %>
  <!-- edit -->
  <%= link_to edit_item_path(@item) do %>
    <i class="fas fa-pencil-alt"></i>
  <% end %>
<% end %>

<!-- action a vendre  -->
<% if owner == true %>
  <p><%= button_to @text , new_item_reminder_path(@item), method: :get, class: "btn-verbe" %></p>
<% end %>
