<div class="container">



  <div class="col-xs-12 filter-zone">
    <h4> <%= form_tag items_path, method: :get, class: "search" do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Search for an specific item",
            class: "input"
          %><i class="fa fa-search" aria-hidden="true"></i>
        <% end %></h4>
  </div>

  <% @items.each do |item| %>
    <div class="col-xs-12 col-md-3">
      <%= render 'shared/card_item', item: item %>
    </div>
  <% end %>

</div>
