<div class="container">



  <div class="col-xs-12 filter-zone">
    <h4>Filter zone</h4>
  </div>

      <% @items.each do |item| %>
        <div class="col-xs-12 col-md-3">
          <%= render 'shared/card_item', item: item %>
        </div>
      <% end %>

</div>
