<div class="wrapper">

      <div class="container container-form-item">
        <h1>Add an object</h1>

        <%= render 'form_item', item: @item, button: "Add this object" %>

        <%= link_to "Back", root_path  %>
      </div>

</div>
