.reminder-title h2  {
  font-weight: 900;
  font-size: 20px;
}

.reminder-card {
  width: auto;
  height: auto;
  background-color: white;
  border-bottom: 1px solid #cecece;
}

.reminder-image {
  margin-top: 20px;
  width: 100%;
  max-height: 200px;
}

.reminder-image:hover {
  opacity: 0.6;
}

.reminder-object {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 900;
}

.reminder-verb {

font-family: 'Roboto';
font-size: 14px;
font-weight: 400;
color: #848484;
display: inline-block;
}

.reminder-owner {
  margin: 10px;
  font-family: 'Roboto';
  font-size: 16px;
  display: flex;
}


.reminder-owner li {
  display: inline-block;
}

.card-user-reminder.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.belongs {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
  color: #595959;
}

.reminder-price {
  padding-right: 30px;
  font-size: 18px;
  right: 0;
  position: absolute;
  font-weight: 900;
}

.reminder-description {
  margin-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #595959;
  text-overflow: ellipsis;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
}

.reminder-name {
  font-size: 16px;
  margin: 10px;
}
