

.item-card {
  align-content: center;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
  background-color: white;
  margin-top:20px;
  &:hover {
    box-shadow: 10px 5px 5px #E1E1E1;
  }
  .action {
    right: 0;

    &:hover {

      color: yellow;
    }
  }
}


.item-card a {
  text-decoration: none;
  color: black;

}

.title-card  {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 900;
}

