

.item-card {
  align-content: center;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
  background-color: white;
  margin-top:20px;
  &:hover {
    box-shadow: 10px 5px 5px #E1E1E1;
  }
  .action {
    right: 0;

    &:hover {

      color: yellow;
    }
  }
}


.item-card a {
  text-decoration: none;
  color: black;

}

.title-card  {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 900;
}

ul li {
  display: inline-block;
}

#tabs {
  width: 800px;
  display: inline block;
}

.verb li {

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 900;
  font-style: italic;
}

.status  {
  font-style: italic;
  color: black;
  display: inline block;
  font-weight: 200;

}

.puce  {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #35DC55;
}

.img-card {

  padding: 10px;
}

