.item-card-list {
  display: flex;
  max-height: 200px;
  align-content: center;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
  background-color: white;
  margin-top: 5px;

  &:hover {
    box-shadow: 10px 5px 5px #E1E1E1;
  }

  .action {
    font-size: 14px;
    color: #c1c1c1;
    right: 0;

    &:hover {
      color: black;
    }
  }
  a {
    text-decoration: none;
    color: #949495;
  }

.detail-card-list {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  flex-direction: column;
  .title-card-list  {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 900;
  }
  .description {
    font-size: 12px;
  }
}

.item-card-list.verb {
  align-self: stretch;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 900;
  color: #565656;
}

.verb-container  {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: blue;
    // width: 60px;
    min-width: 0px;
    flex: 0 0 60px;
    .verb  {
      transform: rotate(-90deg);
      white-space: nowrap;
    }
  }

  .status {
    text-decoration: none;
    padding-top: 50px;
    font-size: 14px;
    color: #949495;
    display: inline block;
    font-weight: 400;

  }

  .img-card {

    padding: 10px;
  }

  .disponible {


    min-width: 0px;
    flex: 0 0 0;
    border-right: 1px solid;
    padding: 30px;
    margin-top: 40px;
    color: #949495;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
  }
  .disponible-2 {
    padding: 30px;
    margin-top: 40px;
    color: #949495;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;

  }

  .cell1 {
    padding-left: 15px;
    padding-top: 10px;
  }


  .verb-action {
    display: flex;
    text-align: center;

  }
}

.title-card-list-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.price {

  display: flex;
  align-items: center;
  padding-left:20px;

  min-width: 100px;
  max-width: 100px;
  color: #76DC61;
  font-size: 14px;
  font-weight: 900;
}
