.card-list{
  padding: 10px;
  display: flex;
  background-color: white;
  border: 1px solid $light-gray;

  .card-img {
    height: 175px;
    width: 175px;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    position: relative;
  }

  .card-infos {
    margin-left: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item-name {
    font-weight: bold;
    color: $green;
    font-size: 21px;
  }

  .item-category {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .item-description {
    font-size: 0.8em;
  }

  .item-text {
    color: $blue;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .card-state {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
  }
}

.card-list .card-state .fa-trash-alt {
  position: absolute;
  right: 0;
  bottom: 0;
}
