<p>Bonjour <%= @email %>, bienvenue sur Dividi !</p>

<p>Merci de confirmer votre compte dans les 48h en cliquant sur le lien ci-dessous :</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
